body {
    background-color: #ffffff;
    font-family: Calibri, sans-serif;
}

.main-nav {
    position: relative;
    margin: 0 auto;
    background: url(../img/navbar.gif) no-repeat;
    width: 834px;
    height: 66px;
    z-index: 3;
    font-size: 87.5%;
    box-sizing: border-box;
}

.main-nav ul {
    width: 834px;
    float: left;
    text-align: center;
    margin: 11px 0 0 0;
    text-transform: uppercase;
}

.main-nav ul li{
    padding: 0 45px;
    display: inline;
    text-shadow: 1px 1px 0px rgb(195,149,66);
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    color: white;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: none;
    color: lightgray;
}

nav ul {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 11px;
}

ul.menu-main-menu {
    padding-left: 0px;
}

/*HOME View*/
.home {
    background-color: white;
    min-height: 600px;
}

.pdf-view object{
    height: 800px;
    margin-top: 20px;
    border: solid 1px #666;
}

.self-portrait {
    width: 100%;
    height: auto;
    background-color: #585858;
    padding: 0.25em;
}

/*PROJECT View*/
.project-name {
    background-color: #C1E1A6;
    margin: 15px 0;

    /*text-align: center;*/
}

.nopadding {
    padding-left: 0px !important;
}

.carousel {
    border: solid 1px #666;
}