<div class="container home">
    <div class="row">
        <div class="col-md-2 vcenter"></div><!--
        --><div class="col-md-2 vcenter">
            <img src="../img/fidelity-investments_200x200.jpg" class="about-image"/>
        </div><!--
        --><div class="col-md-6 vcenter">
            <p></p>
            <p>My past eight years have been spent working full-time in the Financial industry, soaking up as much knowledge as I could. However, my goals have been achieved and it is time to move on. I am excited to get back to working in an area more inline with my natural interests – software development.</p>
        </div><!--
        --><div class="col-md-2 vcenter"></div>
    </div>
    <div class="row">
        <div class="col-md-2 vcenter"></div><!--
        --><div class="col-md-2 vcenter">
            <img src="../img/uvu.png" class="about-image"/>
        </div><!--
        --><div class="col-md-6 vcenter" >
            <p></p>
            <p>For the last few years I have been taking Computer Science classes, part-time during the evenings, at Utah Valley University. I love learning and have enjoyed having the freedom to pick classes that interest me versus pursuing a certificate.</p>
        </div><!--
        --><div class="col-md-2 vcenter"></div>
    </div>
    <div class="row">
        <div class="col-md-2 vcenter"></div><!--
        --><div class="col-md-2 vcenter">
            <img src="../img/devmtn860x860.png" class="about-image"/>
        </div><!--
        --><div class="col-md-6 vcenter" >
            <p></p>
            <p>I am currently taking a semester off from school and have jumped into front-end development with both feet. I have recently completed an intensive full-time three-month "boot camp" at DevMountain, where I was able to sit down and code/learn 10-12 hours each day. It was awesome! The primary languages studied were related to the full MEAN stack, but I can't wait to pick up additional languages/technologies/practices in the future.</p>
        </div><!--
        --><div class="col-md-2 vcenter"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div><!--
        --><div class="col-md-8 text-center about-current" >
            <p></p>
            <p>I am now searching for my first full-time development position. I feel that this is a critical and exciting step for me.  I am a strong team player and will be an excellent addition to your organization.</p>
        </div>
    </div>
</div>