<div class="container home">
    <div class="row" ng-repeat="item in about.history">
        <div class="col-md-2 vcenter"></div><!--
        --><div class="col-md-2 vcenter">
            <img src="{{item.link}}" class="about-image"/>
        </div><!--
        --><div class="col-md-6 vcenter">
            <p></p>
            <p ng-bind="item.description"></p>
        </div><!--
        --><div class="col-md-2 vcenter"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div><!--
        --><div class="col-md-8 text-center about-current" >
            <p></p>
            <p class="well well-sm" ng-bind="about.current"></p>
        </div>
    </div>
</div>
