<div class="container home">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" >
            <p>A little about me...</p>
            <p></p>
            <p>My past eight years have been spent working full-time in the Financial industry, soaking up as much knowledge as I could. However, my goals have been achieved and it is time to move on. I am excited to get back to working in an area more inline with my natural interests – software development.</p>
            <p>For the last few years I have been taking Computer Science classes, part-time during the evenings, at Utah Valley University. I love learning and have enjoyed having the freedom to pick classes that interest me versus pursuing a certificate.</p>

            <p>I am currently taking a semester off from school and have jumped into front-end development with both feet. I have recently completed an intensive full-time three-month "boot camp" at DevMountain, where I was able to sit down and code/learn 10-12 hours each day. It was awesome! The primary languages studied were related to the full MEAN stack, but I can't wait to pick up additional languages/technologies/practices in the future.</p>
            <p>I am now searching for my first full-time development position. I feel like this is a critical job for me and hope to find a great team to join. My ideal employer values acquiring and retaining talent, expects the best from their employees, and strives to maintain a collaborative environment… all while keeping a pretty chill work environment where employees are able to relax and still have fun.</p>




        </div>
    </div>
</div>