<div class="container home">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 vcenter">
            <img class="self-portrait" src="../img/selfportrait.gif" />
        </div><!--
        --><div class="col-md-5 vcenter"><!--
            --><div class="well well-lg">
                <h2>My name is Camden Gutzman...</h2>
                <p class="buffer">I love programming, hard work, and am able to learn quickly. I look forward to meeting both you and your team and working together in the future.</p>
        <h4 class="text-center">Thank you for your sincere consideration!</h4>
            </div>
        </div>
    </div>
</div>
