<div class="container home">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 vcenter">
            <img class="self-portrait" src="../img/selfportrait.gif" />
        </div><!--
        --><div class="col-md-5 vcenter"><!--
            --><div class="well well-lg">
                <h2>My name is Camden Gutzman...</h2>
                <p class="buffer">I am currently living the dream as a web developer in Orem, Utah. My days are spent writing Angular, striving to follow best practices and current standards. I am a John Papa fanboi and prefer <a href="https://github.com/johnpapa/angular-styleguide">his Angular style guide</a> currently.</p>
                <p class="buffer">This is a fun time to be a web developer and I am always looking for opportunities to build cool things, learn new tools and frameworks, or find better ways of writing code.</p>
        <h4 class="text-center">Whether you think you can or you think you can't, you're right.</h4>
            </div>
        </div>
    </div>
</div>
